<div class=" d-flex flex-row justify-content-between" >
<div class=" h1 text-align-center text-dark">Welcome <span class=text-danger>ADMIN</span></div>
<button  (click)="back();" class="btn btn-info m-1" data-bs-toggle="modal" data-bs-html="true" title="MainMenu" >
<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
  <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
</svg></button>
</div>
<div class="d-flex flex-column justify-content-around p-3 mb-2 flex-md-row flex-lg-row flex-xl-row border border-dark">
<div class="d-flex flex-column p-2 mb-2 align-items-center">
<img class="p-3 mb-3 img-fluid" style="max-width:261px" (click)="empclick();" src="https://www.pinclipart.com/picdir/big/551-5516286_name-tag-clip-art.png" alt="Employee Pic">
<button class="btn btn-primary  mb-3" (click)="empclick();">EMPLOYEES</button>
</div>
<div class="d-flex flex-column p-2 mb-2 align-items-center">
<img class="p-3 mb-3 img-fluid" style="width:350px" (click)="skillclick();" src="https://www.pinclipart.com/picdir/big/53-536469_clipart-downloader.png"   alt="Skills Pic">
<button class="btn btn-primary  mb-3" (click)="skillclick();">SKILLS</button>
</div>

</div>
