<div (click)="mainmenu();" style="cursor: pointer"><div class="d-felx flex-column justify-content-center rounded-0">
<body>
<h1>
  <span>WELCOME</span>
 <span>--</span>
  <span>TO</span>
  <span>--</span>
  <span>EMPLOYEE</span>
  <span>'S</span>
   <span>--</span>
  <span>SKILLS</span>
   <span>--</span>

  <span>APP</span>

</h1>
</body>
</div>

<div class="d-flex felx-row justify-content-center">
<img class="m-2 text-center"src="https://www.pinclipart.com/picdir/big/535-5350115_youth-sunday-clipart.png" style="height:350px">
</div>
<div>
