<p class="h1 text-center text-"><b>WELCOME!</b></p>
<hr>
<div class="d-flex flex-column justify-content-around p-3 mb-2 flex-md-row flex-lg-row flex-xl-row border border-dark">
<div class="d-flex flex-column p-1 mb-2 align-items-center">
<img  class="p-3 mb-3 img-fluid " (click)="adminClick();" style="width:380px"  src="https://www.pinclipart.com/picdir/big/122-1221261_wet-weather-clipart.png"   alt="Admin Pic">
<button class="btn btn-primary  mb-3" (click)="adminClick();">ADMIN</button>
</div>
<div class="d-flex flex-column p-2 mb-2 align-items-center">
<img class="p-3 mb-3 img-fluid" (click)="empClick();" style="max-width:291px" src="https://www.pinclipart.com/picdir/big/551-5516286_name-tag-clip-art.png" alt="Employee Pic">
<button class="btn btn-primary  mb-3" (click)="empClick();">EMPLOYEE</button>
</div>
</div>
